<h1>Startpagina</h1>

<h1 class="text-center">Aanmelden</h1>
<div data-ng-controller="LogInController">
    <form role="form" data-ng-submit="submitForm()">
        <div class="form-group">
            <label for="input-email">E-mailadres</label>
            <input id="input-email" type="email" name="email" class="form-control" placeholder="naam@voorbeeld.com"
                   data-ng-model="formData.email" title="Uw e-mailadres" required>
            <span class="help-block"></span>
        </div>

        <div class="form-group">
            <label for="input-password">Wachtwoord</label>
            <input id="input-password" type="password" name="password" class="form-control"
                   data-ng-model="formData.password" title="Uw wachtwoord" required>
            <span class="help-block"></span>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-plus-sign"></span> Aanmelden
        </button>
    </form>
</div>
