<div data-ng-controller="ListTasksController">
    <uib-alert ng-if="isAlertEmpty()" type="success" close="removeAlert()">
        {{getAlert()}}
    </uib-alert>

    <h3>Taken</h3>

    <div>
        <div class="input-group">
            <input data-ng-model="searchKeyword" data-ng-change="searchTasks()" type="text" class="form-control" placeholder="Zoeken...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        </div>
    </div>


    <br/>


    <div class="panel panel-default">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th class="col-xs-3">Naam</th>
                <th class="col-xs-3">Klas</th>
                <th class="col-xs-3">Deadline</th>
                <th class="col-xs-1"></th>
                <th class="col-xs-1"></th>
                <th class="col-xs-1"></th>
            </tr>
            </thead>
            <tbody id="table-task-list-body"></tbody>
        </table>
    </div>

    <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_EDIT_TASK_ID,'nieuw')">
        <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
    </button>
</div>
