<div data-ng-controller="ListUsersController">
    <!-- TODO finish page -->
    <h3>Gebruikersbeheer</h3>

    <div>
        <div class="input-group">
            <input data-ng-model="searchKeyword" data-ng-change="searchUsers()" type="text" class="form-control" placeholder="Zoeken...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        </div>

        <!-- <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul> -->
    </div>


    <br/>

    <div>
        <uib-pagination total-items="totalItems" ng-model="currentPage"  max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
    </div>

    <div class="panel panel-default">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>E-mailadres</th>
                <th>Rol</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-user-list-body"></tbody>
        </table>
    </div>

    <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_EDIT_USER_ID,'nieuw')">
        <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
    </button>
</div>
