<div data-ng-controller="ListClassesController">
    <!-- TODO create page -->
    <uib-alert ng-if="isAlertEmpty()" type="success" close="removeAlert()">
        {{getAlert()}}
    </uib-alert>
    <h3>Mijn klassen</h3>

        <div class="col-md-6">
            <h2 class="sub-header">PAV</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody id="table-pav-class-list-body">

                    </tbody>
                </table>
            </div>
            <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_MANAGE_CLASS_ID, location.PARAM_CREATE_NEW_CLASS_ID); location.setParameter(location.PARAM_CLASS_TYPE, 'PAV')">
                <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
            </button>
        </div>
        <div class="col-md-6">
            <h2 class="sub-header">BGV</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody id="table-bgv-class-list-body">

                    </tbody>
                </table>
            </div>
            <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_MANAGE_CLASS_ID, location.PARAM_CREATE_NEW_CLASS_ID); location.setParameter(location.PARAM_CLASS_TYPE, 'BGV')">
                <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
            </button>
    </div>
</div>
