<div data-ng-controller="LogInController">
    <!-- TODO finish page -->
    <h3>Aanmelden</h3>

    <form role="form" data-ng-submit="submitForm()">
        <div class="form-group">
            <label for="input-email">E-mailadres</label>
            <input id="input-email" type="email" name="email" class="form-control" placeholder="naam@voorbeeld.com"
                   data-ng-model="formData.email" title="E-mailadres van de gebruiker" required>
        </div>

        <div class="form-group">
            <label for="input-password">Wachtwoord</label>
            <input id="input-password" type="password" name="password" class="form-control"
                   data-ng-model="formData.password" title="Wachtwoord van de gebruiker" required>
        </div>

        <uib-alert ng-if="isAlertEmpty()" type="danger" close="removeAlert()">
            {{getAlert()}}
        </uib-alert>

        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-in"></span> Aanmelden
        </button>
    </form>
</div>
