<div data-ng-controller="ManageClassMembersController">
    <uib-alert ng-if="isAlertEmpty()" type="success" close="removeAlert()">
        {{getAlert()}}
    </uib-alert>

    <div>
        <button class="btn btn-success pull-left" data-ng-click="prevPage()">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <h3 style="margin-left: 5%">Klas leerlingen</h3>
    </div>

    <br>


    <form role="form" data-ng-submit="submitForm()">
        <div class="form-group">
            <div>
                <label>Selecteer leerlingen:</label>
                <div class="form-group">
                    <label for="input-check-node" class="sr-only">Search Tree:</label>
                    <input type="input" class="form-control" id="input-check-node" placeholder="Dirk Jonkers" value="">
                </div>
            </div>
            <div>
                <div id="treeview-checkable" class=""></div>
            </div>
        </div>
    </form>


</div>

