<div data-ng-controller="ManageClassMembersController">
    <h3>Klas leerlingen</h3>
    <br>

    <div class="container">
        <div>
                <h2>Zoek opleiding/leerling</h2>
                <div class="form-group">
                    <label for="input-check-node" class="sr-only">Search Tree:</label>
                    <input type="input" class="form-control" id="input-check-node" placeholder="Dirk Jonkers" value="">
                </div>
            </div>
            <div>
                <h2>Leerlingen</h2>
                <div id="treeview-checkable" class=""></div>
            </div>

        <button class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
        </button>
        </div>

 </div>

