<div data-ng-controller="NewClassController">
    <!-- TODO create page -->
    <h3>Nieuwe klas aanmaken</h3>

    <br>

    <form role="form" data-ng-submit="submitForm()">
        <div class="form-group">
            <label for="class">Naam:</label>
            <input type="text" class="form-control" id="class">
        </div>
        <div class="form-group">
            <div>
                <label>Selecteer leerlingen:</label>
                <div class="form-group">
                    <label for="input-check-node" class="sr-only">Search Tree:</label>
                    <input type="input" class="form-control" id="input-check-node" placeholder="Dirk Jonkers" value="">
                </div>
            </div>
            <div>
                <div id="treeview-checkable" class=""></div>
            </div>
        </div>

        <button class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus-sign"></span> Opslaan
        </button>

    </form>
</div>
