<div data-ng-controller="ScoreManagementController">
    <!-- TODO create page -->
    <h3>Puntenbeheer</h3>

    <form name="form">
        <div class="btn-group" data-uib-dropdown>
            <button id="button-school-class" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{visibleScores.schoolClass ? visibleScores.schoolClass.schoolClass.name : 'Klas'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li class="dropdown-header">BGV</li>
                <li data-ng-repeat="clazz in bgvClasses"><a href="" data-ng-click="visibleScores.schoolClass = clazz">{{clazz.schoolClass.name}}</a></li>
                <li class="dropdown-header">PAV</li>
                <li data-ng-repeat="clazz in pavClasses"><a href="" data-ng-click="visibleScores.schoolClass = clazz">{{clazz.schoolClass.name}}</a></li>
            </ul>
        </div>

        <div class="btn-group" data-uib-dropdown data-ng-class="{hidden: !visibleScores.schoolClass}">
            <button id="button-module" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{visibleScores.module ? visibleScores.module.name : (visibleScores.schoolClass.schoolClass.type == 'BGV' ? 'Deelcertificaat' : 'Vakthema')}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li data-ng-repeat="module in visibleScores.schoolClass.modules"><a href="" data-ng-click="visibleScores.module = module">{{module.name}}</a></li>
            </ul>
        </div>

        <br><br>

        <div class="input-group">
            <span class="input-group-addon" id="addon-week">Week</span>
            <input type="number" min="1" max="38" class="form-control" id="input-week" aria-describedby="addon-week" data-ng-model="visibleScores.week">
        </div>

        <br>

        <div style="max-height: 600px; overflow: scroll;" class="table-responsive fixed-head" data-ng-class="{hidden: !visibleScores.schoolClass}">
            <table class="table table-bordered table-condensed">
                <thead style="margin-left: -1px; margin-top: -1px; position: absolute; overflow: hidden;">
                <tr style="border-top: 1px solid rgb(221, 211, 211); border-left: 1px solid rgb(221, 211, 211);">
                    <th style="background-color: white;"></th>
                    <th style="background-color: white;" data-ng-repeat="student in visibleScores.schoolClass.students">{{student.student.firstName + ' ' + student.student.lastName}}</th>
                </tr>
                </thead>
                <tbody style="visibility: hidden" class="stub-head">
                    <tr>
                        <th></th>
                        <th data-ng-repeat="student in visibleScores.schoolClass.students">{{student.student.firstName + ' ' + student.student.lastName}}</th>
                    </tr>
                </tbody>
                <tbody data-ng-repeat="category in visibleScores.module.subCertificateCategories">
                    <tr><td style="background-color: rgba(0, 0, 0, 0.06); font-weight: bold;" colspan="{{visibleScores.schoolClass.students.length + 1}}">{{category.name}}</td></tr>
                    <tr data-ng-repeat="competence in category.competences" data-ng-init="competenceIndex = $index">
                        <td>{{competence.name}}</td>
                        <td style="cursor: pointer; vertical-align: middle; text-align: center;" data-ng-init="scoreIndex = $index" data-ng-class="{info: selectedStudentScores[competence.id][scoreIndex] == true}" data-ng-click="selectedStudentScores[competence.id][scoreIndex] = !selectedStudentScores[competence.id][scoreIndex];" data-ng-repeat="student in visibleScores.schoolClass.students">{{student.scores[visibleScores.week][competence.id].score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br/>

        <div class="btn-group" data-uib-dropdown>
            <button id="button-score" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{selectedScore ? selectedScore : 'Score'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li><a href="" data-ng-click="selectedScore='Aangeboden'">Aangeboden</a></li>
                <li><a href="" data-ng-click="selectedScore='Ingeoefend'">Ingeoefend</a></li>
                <li><a href="" data-ng-click="selectedScore='Verworven'">Verworven</a></li>
            </ul>
        </div>

        <br/><br/>

        <div class="form-group">
            <label for="comment">Commentaar:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-plus-sign"></span> Opslaan
        </button>

        <!--<div ng-controller="DatepickerPopupDemoCtrl">
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                               is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>
            </div>


            <br/>
            <br/>

            <div class="table-responsive" data-ng-class="{hidden: !visibleScores.schoolClass}">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th data-ng-repeat="studentScore in studentScores">{{studentScore.studentName}}</th>
                    </tr>
                    </thead>
                    <tbody class="text-center" data-ng-class="{hidden: !visibleScores.module}">
                    <tr data-ng-repeat="competence in competences" data-ng-init="competenceIndex = $index">
                        <td>{{competence.name}}</td>
                        <td style="cursor: pointer; vertical-align: middle;" data-ng-repeat="studentScore in studentScores" data-ng-init="studentScoreIndex = $index" data-ng-class="{info: selectedStudentScores[competenceIndex][studentScoreIndex] == true}" data-ng-click="selectedStudentScores[competenceIndex][studentScoreIndex] = !selectedStudentScores[competenceIndex][studentScoreIndex];">{{studentScore.scores[competenceIndex]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <div class="btn-group" data-uib-dropdown>
                <button id="button-score" type="button" class="btn btn-default" data-uib-dropdown-toggle
                        data-ng-disabled="disabled">
                    {{selectedScore ? selectedScore : 'Score'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                    <li><a href="" data-ng-click="selectedScore='Aangeboden'">Aangeboden</a></li>
                    <li><a href="" data-ng-click="selectedScore='Ingeoefend'">Ingeoefend</a></li>
                    <li><a href="" data-ng-click="selectedScore='Verworven'">Verworven</a></li>
                </ul>
            </div>

            <br/>
            <br/>

            <div class="form-group">
                <label for="comment">Commentaar:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-plus-sign"></span> Opslaan
            </button>
        </div>-->
    </form>
</div>
