<div data-ng-controller="ScoreManagementController">
    <!-- TODO create page -->
    <h3>Puntenbeheer</h3>

    <form name="form">
        <div class="btn-group" data-uib-dropdown>
            <button id="button-school-class" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{visibleScores.schoolClass ? visibleScores.schoolClass.schoolClass.name : 'Klas'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li class="dropdown-header">BGV</li>
                <li data-ng-repeat="clazz in bgvClasses"><a href="" data-ng-click="visibleScores.schoolClass = clazz; resetstudentScoresTable();">{{clazz.schoolClass.name}}</a></li>
                <li class="dropdown-header">PAV</li>
                <li data-ng-repeat="clazz in pavClasses"><a href="" data-ng-click="visibleScores.schoolClass = clazz; resetstudentScoresTable();">{{clazz.schoolClass.name}}</a></li>
            </ul>
        </div>

        <div class="btn-group" data-uib-dropdown data-ng-class="{hidden: !visibleScores.schoolClass}">
            <button id="button-module" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{visibleScores.module ? visibleScores.module.name : (visibleScores.schoolClass.schoolClass.type == 'BGV' ? 'Deelcertificaat' : 'Vakthema')}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li data-ng-repeat="module in visibleScores.schoolClass.modules"><a href="" data-ng-click="visibleScores.module = module; resetstudentScoresTable();">{{module.name}}</a></li>
            </ul>
        </div>

        <br><br>

        <div class="input-group">
            <span class="input-group-addon" id="addon-week">Week</span>
            <input type="number" min="1" max="38" class="form-control" id="input-week" aria-describedby="addon-week" data-ng-model="visibleScores.week" ng-change="resetstudentScoresTable();">
        </div>

        <br>

        <div style="position: relative; overflow: hidden;">
        <div onscroll="updateTableHeaders()" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none; max-height: 600px; overflow: scroll;" class="table-responsive fixed-head" data-ng-class="{hidden: !visibleScores.schoolClass}">
            <table class="table table-bordered table-condensed" data-ng-init="goalIndex = 0;">
                <thead style="border-left: 1px solid rgb(221, 211, 211); margin-top: -1px; position: absolute; overflow: hidden; width: 65535px;">
                <tr style="border-top: 1px solid rgb(221, 211, 211); z-index: -1000;">
                    <th style="background-color: white; display: inline-block; border-left: none; color: white;">.</th>
                    <th style="background-color: white; display: inline-block; border-left: none;" data-ng-repeat="student in visibleScores.schoolClass.students">{{student.student.firstName + ' ' + student.student.lastName}}</th>
                </tr>
                </thead>
                <tbody style="visibility: hidden" class="stub-head">
                    <tr>
                        <th></th>
                        <th data-ng-repeat="student in visibleScores.schoolClass.students">{{student.student.firstName + ' ' + student.student.lastName}}</th>
                    </tr>
                </tbody>
                <tbody data-ng-repeat="category in visibleScores.module.subCertificateCategories" data-on-finish-render="tableFinished">
                    <tr><td style="background-color: rgba(0, 0, 0, 0.06); font-weight: bold;" colspan="{{visibleScores.schoolClass.students.length + 1}}">{{category.name}}</td></tr>
                    <tr data-ng-repeat="competence in category.competences" data-ng-init="competenceIndex = $index; temp = $parent.$parent.goalIndex; $parent.$parent.goalIndex = $parent.$parent.goalIndex + 1">
                        <td>{{competence.name}}</td>
                        <td style="cursor: pointer; vertical-align: middle; text-align: center;" data-ng-init="scoreIndex = $index;" data-ng-class="{info: studentScoresTable[$parent.temp][scoreIndex].selected == true}" data-ng-mousedown="studentScoresTable[$parent.temp][scoreIndex].selected = !studentScoresTable[$parent.temp][scoreIndex].selected;" data-ng-repeat="student in visibleScores.schoolClass.students">{{studentScoresTable[$parent.temp][scoreIndex].score.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

        <br/>

        <div class="btn-group" data-uib-dropdown>
            <button id="button-score" type="button" class="btn btn-default" data-uib-dropdown-toggle
                    data-ng-disabled="disabled">
                {{selectedScore ? selectedScore : 'Score'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-school">
                <li><a href="" data-ng-click="selectedScore='Aangeboden'; selectedScoreId='A';">Aangeboden</a></li>
                <li><a href="" data-ng-click="selectedScore='Ingeoefend'; selectedScoreId='I';">Ingeoefend</a></li>
                <li><a href="" data-ng-click="selectedScore='Verworven'; selectedScoreId='V';">Verworven</a></li>
            </ul>
        </div>

        <br/><br/>

        <div class="form-group">
            <label for="comment">Commentaar:</label>
            <textarea class="form-control" rows="5" id="comment" data-ng-model="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block" data-ng-click="updateScores()">
            <span class="glyphicon glyphicon-plus-sign"></span> Opslaan
        </button>
    </form>
</div>
