<div class="form-group">
    <label>Graad</label>
    <br/>
    <div class="btn-group" data-uib-dropdown>
        <button id="button-grade" type="button" class="btn btn-default" data-uib-dropdown-toggle>
            {{selectedGrade}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-subject">
            <li data-ng-repeat="grade in grades">
                <a href="" data-ng-click="setSelectedGrade(grade)">{{grade.name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="form-group">
    <label>Certificaat</label>
    <br/>
    <div class="btn-group" data-uib-dropdown>
        <button id="button-subject" type="button" class="btn btn-default" data-uib-dropdown-toggle>
            {{selectedCert}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="button-subject">
            <li data-ng-repeat="cert in certificates">
                <a href="" data-ng-click="setSelectedCert(cert)">{{cert.name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="form-group">
    <label for="input-birthDate">Geboortedatum</label>
    <input id="input-birthDate" type="text" name="birthDate" class="form-control"
           data-ng-model="studentInfo.birthDate" title="Geboortedatum" required>
</div>

<div class="form-group">
    <label for="input-birthPlace">Geboorteplaats</label>
    <input id="input-birthPlace" type="text" name="birthPlace" class="form-control"
           data-ng-model="studentInfo.birthPlace" title="Geboorteplaats" required>
</div>

<div class="form-group">
    <label for="input-nationality">Nationaliteit</label>
    <input id="input-nationality" type="text" name="nationality" class="form-control"
           data-ng-model="studentInfo.nationality" title="Nationaliteit" required>
</div>

<div class="row">
    <div class="col-xs-9" class="form-group">
        <label for="input-street">Straat</label>
        <input id="input-street" type="text" name="street" class="form-control"
               data-ng-model="studentInfo.street" title="Straat" required>
    </div>
    <div class="col-xs-3" class="form-group">
        <label for="input-houseNumber">Huisnummer</label>
        <input id="input-houseNumber" type="text" name="houseNumber" class="form-control"
               data-ng-model="studentInfo.houseNumber" title="Huisnummer" required>
    </div>
</div>

<div class="row">
    <div class="col-xs-9" class="form-group">
        <label for="input-city">Gemeente</label>
        <input id="input-city" type="text" name="city" class="form-control"
               data-ng-model="studentInfo.city" title="Gemeente" required>
    </div>
    <div class="col-xs-3" class="form-group">
        <label for="input-postalCode">Postcode</label>
        <input id="input-postalCode" type="text" name="postalCode" class="form-control" ng-minlength="4"
               ng-maxlength="4"
               data-ng-model="studentInfo.postalCode" title="Postcode" required>
    </div>
</div>

<div class="row">
    <div class="col-xs-6" class="form-group">
        <label for="input-phoneNumber">GSM nummer</label>
        <input id="input-phoneNumber" type="text" name="phoneNumber" class="form-control"
               data-ng-model="studentInfo.phoneNumber" title="GSM nummer" required>
    </div>
    <div class="col-xs-6" class="form-group">
        <label for="input-emergencyNumber">Telefoon van ouders</label>
        <input id="input-emergencyNumber" type="text" name="emergencyNumber" class="form-control"
               data-ng-model="studentInfo.emergencyNumber" title="Telefoon van ouders" required>
    </div>
</div>

<div class="form-group">
    <label for="input-bankAccount">Rekeningnummer</label>
    <input id="input-bankAccount" type="text" name="bankAccount" class="form-control"
           data-ng-model="studentInfo.bankAccount" title="Rekeningnummer" required>
</div>

<div class="form-group">
    <label for="input-nationalIdentificationNumber">Rijksregisternummer</label>
    <input id="input-nationalIdentificationNumber" type="text" name="nationalIdentificationNumber" class="form-control" ng-minlength="11"
           ng-maxlength="11"
           data-ng-model="studentInfo.nationalIdentificationNumber" title="Rijksregisternummer" required>
</div>

<div class="form-group">
    <label for="input-parentStr">Ouder</label>
    <div class="row">
        <div class="col-xs-8" class="form-group">
            <input id="input-parentStr" type="text" name="parentStr" class="form-control"
                   data-ng-model="parentStr" title="Ouder" readonly>
        </div>
        <div class="col-xs-2" class="form-group">
            <button type="button" class="btn btn-default btn-block" ng-click="open()">
                <span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-xs-2" class="form-group">
            <button type="button" class=" btn btn-default btn-block" ng-click="removeParent()">
                <span class="text-danger glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>