<nav class="navbar navbar-default navbar-static-top" data-ng-controller="NavbarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar" data-ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Open of sluit navigatiemenu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-ng-click="navigate(null)">Modulo</a>
        </div>
        <div id="navbar" class="navbar-collapse" data-ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav">
                <li id="navbar-user-management" data-ng-class="{active: location.panel==location.Panel.USER_MANAGEMENT, hidden: !location.userCanOpen(location.Panel.USER_MANAGEMENT)}"><a href="#" data-ng-click="navigate(location.Panel.USER_MANAGEMENT)">Gebruikersbeheer</a></li>
                <li id="navbar-grades-certificates" data-ng-class="{active: location.panel==location.Panel.GRADES_CERTIFICATES, hidden: !location.userCanOpen(location.Panel.GRADES_CERTIFICATES)}"><a href="#" data-ng-click="navigate(location.Panel.GRADES_CERTIFICATES)">Graden/opleidingen</a></li>
                <li id="navbar-my-classes" data-ng-class="{active: location.panel==location.Panel.MY_CLASSES, hidden: !location.userCanOpen(location.Panel.MY_CLASSES)}"><a href="#" data-ng-click="navigate(location.Panel.MY_CLASSES)">Mijn klassen</a></li>
                <li id="navbar-scores-management" data-ng-class="{active: location.panel==location.Panel.SCORES_MANAGEMENT, hidden: !location.userCanOpen(location.Panel.SCORES_MANAGEMENT)}"><a href="#" data-ng-click="navigate(location.Panel.SCORES_MANAGEMENT)">Puntenbeheer</a></li>
                <li id="navbar-student-progress" data-ng-class="{active: location.panel==location.Panel.STUDENT_PROGRESS, hidden: !location.userCanOpen(location.Panel.STUDENT_PROGRESS)}"><a href="#" data-ng-click="navigate(location.Panel.STUDENT_PROGRESS)">Voortgang leerlingen</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" data-ng-include="'views/applets/log_in.html'"></div>
