<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

    <!-- Initialization for data source -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.33.10:3306/modulo"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="UserDAO" class="be.lambdaware.jdbc.UserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="SubCertificateDAO" class="be.lambdaware.jdbc.SubCertificateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="ClassesDAO" class="be.lambdaware.jdbc.ClassDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="GradeDAO" class="be.lambdaware.jdbc.GradeDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="CourseTopicDAO" class="be.lambdaware.jdbc.CourseTopicDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="StudentInfoDAO" class="be.lambdaware.jdbc.StudentInfoDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="CertificatesDAO" class="be.lambdaware.jdbc.CertificateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="UserClassDAO" class="be.lambdaware.jdbc.StudentClassDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="ClassCertificateDAO" class="be.lambdaware.jdbc.ClassCertificateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="CompetencesDAO" class="be.lambdaware.jdbc.CompetenceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- Definition for ObjectiveDAOImpl bean -->
    <bean id="ObjectiveDAO" class="be.lambdaware.jdbc.ObjectiveDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- Definition for StudentPAVScoreDAOImpl bean -->
    <bean id="StudentPAVScoreDAO" class="be.lambdaware.jdbc.StudentPAVScoreDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- Definition for StudentBGVScoreDAOImpl bean -->
    <bean id="StudentBGVScoreDAO" class="be.lambdaware.jdbc.StudentBGVScoreDAOImpl">
	        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- Definition for SubCertificateCategoryDAOImpl bean -->
    <bean id="SubCertificateCategoryDAO" class="be.lambdaware.jdbc.SubCertificateCategoryDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- Definition for ClassTopicDAOImpl bean -->
    <bean id="ClassTopicsDAO" class="be.lambdaware.jdbc.ClassTopicDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>