<div data-ng-controller="ManageClassCourseTopicListController">
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="manage-course-topic-list-body">

            </tbody>
        </table>
    </div>
    <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_MANAGE_COURSE_TOPIC_ID, location.PARAM_CREATE_NEW_COURSE_TOPIC_ID)">
        <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
    </button>
</div>