<div data-ng-controller="ManageClassStudentListController">
    <uib-alert ng-if="isAlertEmpty()" type="success" close="removeAlert()">
        {{getAlert()}}
    </uib-alert>
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-xs-6">Naam</th>
                <th class="col-xs-6">Certificaat</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="manage-student-list-body"></tbody>
        </table>
    </div>
    <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_MANAGE_CLASS_MEMBERS, true)">
        <span class="glyphicon glyphicon-plus-sign" ></span> Toevoegen
    </button>
</div>