<div data-ng-controller="ManageClassCourseTopicListController">
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="manage-course-topic-list-body">
            <tr id="">
                <td> Wiskunde </td>
                <td class="text-info"  ng-click="location.setParameter(location.PARAM_MANAGE_COURSE_TOPIC_ID, 1)"><span role="button" class="glyphicon glyphicon-edit"></span></td>
                <td class="text-danger"><span role="button" class="glyphicon glyphicon-remove pull-right"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success pull-right" data-ng-click="location.setParameter(location.PARAM_MANAGE_COURSE_TOPIC_ID, location.PARAM_CREATE_NEW_COURSE_TOPIC_ID)">
        <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
    </button>
</div>