<div data-ng-controller="ManageClassCourseTopicListController">
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Certificaat</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="manage-class-topic-list-body">

            </tbody>
        </table>
    </div>
    <button class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus-sign"></span> Toevoegen
    </button>
</div>